* {
	font-family: 'Ubuntu', sans-serif;
}

body {
	background-color: #11111b;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
}
.super-wrapper {
	background-color: #11111b;
	position: relative;
	z-index: 50;
}

.backgrounds {
	position: absolute;
	z-index: 0;
	width: 100%;
	overflow: hidden;
	margin-top: 200px;
}
.backgrounds img {
	margin-bottom: 700px;
}

.wrapper {
	position: relative;
	z-index: 50;
	/*-webkit-box-shadow: 0px 5px 50px 5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 50px 5px rgba(0,0,0,0.75);
box-shadow: 0px 5px 50px 5px rgba(0,0,0,0.75);*/
border-top-left-radius: 15px;
border-top-right-radius: 15px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;

/*overflow: hidden;*/
background-image: url(img/background2.png);
background-repeat: no-repeat;
background-position-x: center;

}

.scroll-indicator {
	position: fixed;
	top: 365px;
	right: 145px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 131px;
	z-index: 0;
}

.main {
	
	
	background-size: 100% auto;
	margin-top: 50px;
}

.content {
	
	max-width: 980px;
	margin: 0 auto;
}

.header {
	padding-top: 40px;
}

.star {
	font-weight: 300;
	font-size: 24px;
}

.wrapper {
	background-color: rgba(32, 32, 38, 1);
	max-width: 1300px;
	margin: 0 auto;
}

.contact {
	display: flex;
	float: right;
}

.contact .phone {
	border: 1px solid #888888;
	padding: 7px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 20px;
	vertical-align: top;
	font-weight: 400;
	margin-bottom: 0;
	color: #888888;
	width: content;
	margin-top: 10px;
}
.contact .phone:hover {
	background-color: #888888;
	color: #232323;
}
.contact a {
	text-decoration: none;
}

.contact .question {
	font-size: 16px;
	font-weight: 300;
	color: #888888;
	margin-right: 15px;
	margin-top: 17px;
}

h1 {
	font-size: 34px;
		text-transform: uppercase;
	color: #ffd700;
	font-weight: 200;
	text-align: center;
	margin-top: 90px;
	margin-bottom: 15px;

}



h1 strong {
	font-size: 48px;
	font-weight: 700;

}

.youtubeLogo {
	margin: 0 auto;
	width: 70px;
	margin-top: 30px;
}

.v-line {
	
	width: 0px;
	border-right: 0.5px solid #525255;
	margin: 0 auto;
	height: 100px;
	margin-top: 50px;
	margin-bottom: 75px;
	display: none;
}

.h-line {
	
	width: 50px;
	border-bottom: 0.5px solid #525255;
	margin: 0 auto;
	height: 0px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.video .v-line {
	display: block;
	position: absolute;
	margin-top: 345px;
	margin-left: 345px;
	height: 90px;
	width: 9px;
	background-image: url(img/note-arrow-bottom.png);
	border: none;
}



.arrow-left {
	z-index: 99999;
}
.arrow-right {
	z-index: 99999;
}

.videoHeader {
	color: #ffffff;
	font-size: 21px;
	font-weight: 300;
	text-align: center;
	margin-top: 80px;
}

.video {
	width: 679px;
	height: 409px;
	margin: 0 auto;
	background-image: url(img/notebook2.png);
	background-repeat: no-repeat;
}
.video iframe {
	margin-top: 40px;
	margin-left: 117px;
}

.field {
	margin-bottom: 30px;
	margin-left: 20px;
	margin-right: 15px;
	margin-top: 10px;
}

.form {
	margin-top: 50px;
}

.form-h2  {
	margin-top: 400px;
	font-size: 30px;
	color: #c4fd00;
	text-align: center;
	font-weight: 400;
	text-transform: uppercase;
	word-wrap: normal;
	width: 100%;
	margin-left: -60px;
	width: 1100px;
}


.field input {

	border-radius: 6px;
	box-shadow: none;
	border: 1px solid #555555;
	background-color: #202026;
	width: 270px;
	height: 45px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 300;
	text-indent: 20px;
	user-select: none; 
 	outline: none; 
}
.field select {

	border-radius: 6px;
	box-shadow: none;

	background: url(img/select-arrow.png) no-repeat;
	background-position: 93% 50%;
	border: 1px solid #555555;
	background-color: #202026;
	width: 272px;
	height: 49px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 300;
	text-indent: 20px;
	user-select: none; 

 	-webkit-appearance: none;
}

.field textarea {

	border-radius: 6px;
	box-shadow: none;

	background-position: 93% 50%;
	border: 1px solid #555555;
	background-color: #202026;
	color: #ffffff;
	font-size: 16px;
	font-weight: 300;
	text-indent: 20px;
	user-select: none; 

}
.field p {
	white-space: nowrap;
	position: absolute;
	margin: 0;
	color: #555555;
	background-color: #202026;
	margin-top: -9px;
	margin-left: 10px;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 14px;
}

.button-text {
	color: #000000;
	position: absolute;
	z-index: 99999;
}
h3.button-text {
	position: absolute;
	margin-top: 13px;
	margin-left: 95px;
}
h4.button-text {
	margin-top: 32px;
	margin-left: 55px;
	font-weight: 400;
}

.caption h3 {
	font-size: 12px;
	font-weight: 300;
	color: #888888;
}
.caption h3 a {
	color: #888888;
}

.caption {
	width: 270px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.fields {
	max-width: 921px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	margin: 0 auto;
}

#send {
	background-color: #c6ff00;
	color: #1b1b1b;
	height: 60px;
	font-size: 18px;
	font-weight: 700;
	margin-top: -5px;
	user-select: none; 
 	outline: none; 
 	text-indent: 0;
 	border-radius: 0;
 	border-radius: 5px;
 	height: 70px;
}

#send:hover {
	background-color: #e5ff8a;
}

#send:active {
	background-color: #a6d501;
	border-color: transparent;
}

.flag {
	position: absolute;
	height: 22px;
	width: 22px;
	background-color: #202026;
	margin-top: 13px;
	margin-left: 261px;
	background-image: url(img/field_error.png);
	background-repeat: no-repeat;
	background-position: center;
	display: none;
}
p.error {
	position: absolute;
	color: #e30613;
	margin: 0;
	padding: 0;
	margin-top: 8px;
	font-size: 12px;
	display: none;

}

.v-line.field-reply {

}

.reply h2 {
	color: #ffffff;
	font-size: 48px;
	text-align: center;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.client {
	background-color: #373741;
	height: 400px;
	width: 475px;
	border-radius: 5px;
}

.mobile-arrows {
	display: none;
}
.reply-content {
	max-width: 1170px;
	margin: 0 auto;
}

.reply {
	margin-top: 80px;
}

.reply-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content-comments {
	width: 980px;
	/*height: 400px;*/
	margin-bottom: 20px;
}

.client p {
	color: #ffffff;
	font-size: 18px;
	font-weight: 300;
	margin: 40px;
	margin-bottom: 0;
	line-height: 1.5em;

}
.data {
	color: #888888;
	width: 250px;
	float: left;
	margin-left: 40px;
	margin-top: 40px;
}

.data h3 {
	margin: 0;
	font-size: 18px;
	width: 300px;
	font-weight: 500;
}

.client img {
	float: right;
	margin-right: 40px;
	margin-top: 20px;
}


#comment {
	background-color: #ffd700;
	color: #000000;
	height: 60px;
	font-size: 18px;
	font-weight: 500;
	border-radius: 6px;
	box-shadow: none;
	border-style: none;
	margin: 0 auto;
	padding: 0 25px;
	user-select: none; 
 	outline: none; 
 	margin-bottom: 125px;
 	margin-top: 30px;

}
#comment:hover {
	background-color: #ffec95;
}

#comment:active {
	background-color: #e3b800;
}

.comment-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	height: 90px;
}

.reply-form {
	margin-top: 10px;
}

.first-line {

	display: flex;
	justify-content: space-between;
	max-width: 890px;
	margin: 0 auto;
}
.first-line .field {
	width: 270px;
	margin-right: 39px;
	margin-left: 0;
}

.first-line .field input {
	width: 100%;
	max-width: 270px;
}
.second-line {
	max-width: 890px;
	margin: 0 auto;
}

.second-line .field {
	margin: 0;
}

.second-line .field textarea {
	width: 100%;
	padding-right: 0;
	padding-bottom: 50px;
}
#last-field {
	margin-right: 0;
}

.img-icon {
	display: flex;
	justify-content: center;
	margin-top: 90px;
	align-items: center;
}

.icon {
	width: 450px;
}

.download {
	margin-top: 70px;
	padding-top: 80px;


}
.third-block {
	background-image: url(img/background1.png);
	background-repeat: no-repeat;
	background-position-x: center;
}

.download .content {
	margin-top: 50px;
}

.download h2 {

	color: #ffffff;
	font-size: 48px;
	text-align: center;
	font-weight: 700;
	margin-top: 5px;
	text-transform: uppercase;
	margin-bottom: 0;


}

h2.second_h {
	font-weight: 400;
	line-height: 1;
	font-size: 30px;
	margin-bottom: 90px;
	margin-top:-20px;
}

/*.second_h {
	font-weight: 300;
}*/
.download h2 strong {
	font-weight: 500;
	/*line-height: 2;*/
	font-size: 30px;
}

#download {
	display: block;
	background-color: #d32011;
	color: #ffffff;
	height: 60px;
	width: 290px;
	font-size: 18px;
	font-weight: 500;
	border-radius: 6px;
	box-shadow: none;
	border-style: none;
	margin: 0 auto;
	padding: 0 25px;
	user-select: none; 
 	outline: none; 

 	text-transform: uppercase;

}
#download:hover {
	background-color: #fd4a3c;
}

#download:active {
	background-color: #ae1a0e;
}

.payments {
	margin-top: 250px;
}

.line1 {
	margin-bottom: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.line2 {
	margin-bottom: 40px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.hidder {
	height: 100px;
	overflow: hidden;
}


.footer {
	background-color: rgba(32, 32, 38, 0.9);
	text-align: center;
	line-height: 2;
	font-size: 16px;
	font-weight: 300;
	border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
margin-top: 100px;
padding-bottom: 20px;
margin-bottom: 50px;
}
.links {
	color: #c5ff00;
	padding-top: 30px;

}

.links a {
	color: #c5ff00;
	text-decoration: none;
		
}
mark {
	color: #c5ff00;
}

.footer-text {
	color: #888888;
}

.sign {
	color: #888888;
	padding-bottom: 20px;
}
.pics img {
	max-height: 48px;
	margin-left: 30px;
}
mark {
	background: none;
	text-decoration: none;
}

.br-mobile {
	display: none;
}

.h-line.mobile {
	display: none;
}

.field-mobile {
	display: none;
}

.mobile-arrow-down {
		display: none;
	}

select::-ms-expand {
    display: none;
}

textarea {
    overflow: hidden;
}

.footer {
	
	bottom: 0;
	width: 100%;
	z-index: 0;
}
.footer-wrapper {
	width: 100%;
}
.footer-line {
	padding-top: 50px;
	border-color: #202026;
	margin-bottom: 250px;
}
.space {
	height: 150px;
}
.footer-flex {
	display: flex;
	justify-content: center;	
}
@media screen and (max-width: 1350px) {
	.form-h2 {
		margin-top: 30px;
	}

}
@media screen and (max-width: 1120px) {
	.form-h2 {
		width: 100%;
		margin-left: 0;
		font-size: 26px;
	}

}

@media screen and (max-width: 1060px) {
	.content-comments {
		width: 900px;

	}

}

@media screen and (max-width: 1050px) {
	.logo {
		margin-left: 15px; 
	}

	.contact {
		margin-right: 15px;
	}

	.client {
		width: 435px;
		height: 370px;
	}
}

@media screen and (max-width: 980px) {
	.content-comments {
		width: 870px;

	}
	.data h3 {
		width: 220px;
	}
	.data {
		width: 220px;
	}

}



@media screen and (max-width: 950px) {
	.form h2 {
		font-size: 27px;
	}

	h3.button-text {
	position: absolute;
	margin-top: 10px;
	margin-left: 0px;
}
h4.button-text {
	margin-top: 25px;
	margin-left: 0px;
	font-weight: 400;
}

.reply h2 {
	font-size: 38px;
}

	.fields {
		flex-direction: column;
		height: 260px;
		width: 600px;
	}
	.field {
		margin-top: 0;
	}
	.field-mobile {
		display: block;
	}
	.field-desktop {
		display: none;
	}

	.button-main-form.field-mobile {
		display: flex;
		justify-content: center;
	}

	.field-mobile .caption {
		width: 540px;
		margin: 0 auto;
	}

	.client-desktop {
		display: none;
	}

	.content-comments {
		justify-content: center;
		
	}
	.first-line {
		padding-right: 20px;
		padding-left: 20px;
	}
	.second-line {
		padding-right: 20px;
		padding-left: 20px;
	}

	.reply-block {
		justify-content: space-around;
	}
	.content-comments {
		width: 470px;
	}
}

@media screen and (max-width: 773px) {
	.footer-line {
	margin-bottom: 300px;
}

}

@media screen and (max-width: 680px) {

	.backgrounds {
		display: none;
	}
	.wrapper {
		background-color: rgba(32, 32, 38, 1);
	}
	.reply {
	margin-top: 50px;
}

	.footer-line {
	margin-bottom: 550px;
}

	.fields {
		height: 520px;
		width: 320px;
	}


	.mobile-arrow-down {
		display: block;
		margin: 0 auto;
	}

	.question {
		display: none;
	}

	.logo {
		height: 40px;
	}

	h1 {
		font-size: 26px;
	}

	h1 strong {
		font-size: 32px;
	}

	.form h2 {
	font-size: 24px;
	}

	.videoHeader {
	font-size: 21px;
	}

	.youtubeLogo img{
		width: 45px;
	}
	.youtubeLogo {
		width: 45px;
	}

	.br-mobile {
		display: block;
	}
	.links mark {
		display: none;
	}
	.pics img {
		margin-right: 15px;
		margin-left: 15px;
	}

	.v-line {
		display: none;
	}

	.h-line {
		width: 100px;
	}

	.h-line.mobile {
		display: block;
	}

	.download h2 {
		font-size: 24px;
	}

	h2.second_h {
		font-size: 20px;
	}
	.download h2 strong {
		font-size: 20px;
	}
	.form-h2 {
		font-size: 22px;
	}

	.line1 {
		margin-bottom: 0;
		width: 440px;
		margin-left: auto;
		margin-right: auto;
		justify-content: space-around;
	}
	.line2 {
		width: 440px;
		margin-left: auto;
		margin-right: auto;
		justify-content: space-around;
	}

	.line1 img {
		margin-top: 30px;
		margin-right: 30px;
		margin-left: 10px;
	}

	.line2 img {
		margin-top: 30px;
	}

	.field-mobile .caption {
		width: 270px;
		margin: 0 auto;
	}

	.data-caption {
		width: 200px;
	}

	.video .v-line {
		display: none;
	}

	.icon {
		width: 300px;
	}
	.img-icon {
	margin-top: 50px;
}
	.video iframe {
		width: 320px;
		height: 180px;
		margin-top: 25px;
		margin-left: 78px;
	}
 
	.video {
		height: 307px;
		width: 480px;
		background-size: 100% auto;
	}

	.form {
		margin-top: 50px; 
	}
	.download {
		margin-top: 50px;
	}
	.payments {
		margin-top: -20px;
	}

	


}

@media screen and (max-width: 580px) {
	.first-line {
		flex-direction: column;
		width: 272px;
	}
	.first-line .field {
		margin-right: 0;
	}

	.second-line {
		width: 268px;
		padding-right: 23px;
	}

	.desktop-arrow {
		display: none;
	}

	.mobile-arrows {
		display: flex;
		justify-content: space-around;
		width: 100%;
	}

	.reply-block {
		flex-wrap: wrap;
	}
	.content-comments {
		width: 420px;
	}
	.data h3 {
		font-size: 16px;
		width: 185px;
	}
	.data {
		width: 185px;
	}
	.video {
		width: 420px;
		background-size: 115%;
		background-position: center;
	}

	.video iframe {
		margin-top: 33px;
    	margin-left: 48px;
	}

	.line1 {
		width: 420px;
	}
	.line1 img {
		margin-right: 25px;
	}

	.line2 {
		width: 420px;
	}
}


@media screen and (max-width: 420px) {

	.logo {
		height: 30px;

	}

	.video {
		width: 320px;
	}
	.video iframe {
		width: 240px;
		height: 135px;
		margin-top: 65px;
   	 	margin-left: 39px;
	}
	
	.line1 {
		width: 320px;
	}
	.line2 {
		width: 320px;
	}

	.line1 img {
		/*margin-right: 5px;
		margin-left: 5px;*/
		/*max-height: 20px;
		max-width: 50px;*/
	}

	.content-comments {
		width: 320px;
	}
	.client p {
		font-size: 15px;
	}
	.data h3 {
		font-size: 13px;
		width: 152px;
	}
	.data {
		width: 152px;
	}
	.client img {
		width: 50px;
		margin-top: 30px;
	}

	.contact .phone {
		border: none;
		margin-top: 5px;
	}

	.download h2 {
		font-size: 19px;
	}

	.form h2 {
		font-size: 19px;
	}

	.videoHeader {
		font-size: 17px;
	}
	h1 {
		font-size: 20px;
	}

	.reply h2 {
		font-size: 26px;
	}

	.client p {
		margin: 20px;
		margin-bottom: 0;
	}
	.data {
		margin-left: 20px;
	}

}



